<ul class="nav flex-column nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="../chatroom">CHAT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../users">USER POSTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../registerUser">REGISTER USER</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../settings">SETTINGS</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/">LOGOUT</a>
  </li>
</ul>