<div class="container">
<nav class="navbar">
  <div class="row">
    <div class="col-xs-2">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/chatroom">CHATROOM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">MY POSTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registerUser">REGISTER USER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/currentUsers">CURRENT USERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">SETTINGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>