<div class ="container-fluid" >
    <div class = "row">
        <div id="header" class ="col-sm-12">
            <h2>U of W Chat</h2>
        </div>
            <div id="boxnav" class="col-2">
                {{>navigation}}
            </div>
                <div id="box" class="col-10">
                    <h2>Settings</h2>
                <div class="container">
                <form id="settingsPage" action="/settingsChange" name ="login" method="POST" >
                    <p>Posts are listed in order by:</p> 
                    <input type ="button" class="btn btn-dark" name="newest"  id="direction" value="newest" data-dir='-1'> 
                    <input type ="button" class="btn btn-dark" name="oldest" id="direction" value ="oldest"
                    data-dir='1'>
                    <p class="alert">Your setting has been changed</p>
                    
                    <br><br><hr>
                    
                    <p>Background Colour:</p>
                     <input type ="button" class="btn btn-dark"id="setClrBtn" name="white" value="white" data-clr="white"> 
                     <input type ="button" class="btn btn-dark" id="setClrBtn" name="red" value ="red" data-clr="red"> 
                     <input type ="button" class="btn btn-dark" id="setClrBtn" name="green" value ="green" data-clr="green">   
                     <input type ="button" class="btn btn-dark" id="setClrBtn" name="none" value ="none" data-clr="#DDDCC5">                
                </form>
            </div>
        </div>
    </div>
</div>