<div class ="container-fluid" >
    <div class = "row">
        <div id="header" class ="col-sm-12">
            <h2>U of W Chat</h2>
        </div>
            <div id="boxnav" class="col-2">
                {{>navigation}}
            </div>
                <div id="box" class="col-10">
                    <h2>My Posts</h2>
                        <div id="chatbox" class="flex-row">
                            {{#each chatters}}
                                <div id="ubox">
                                    <p>{{this.message}}</p>
                                    <p id="date">{{this.date}}</p>
                                    <p><input type ="button" value="delete" id="btnPost" class="btn btn-danger" data-id="{{this.id}}"></p>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
    </div>
</div>

