<div class ="container-fluid" >
    <div class = "row">
        <div id="header" class ="col-sm-12">
            <h4>SimpleChat</h4>
        </div>
        <div id="box" class="col-2">
            {{>navigation}}
        </div>
        <div id="box" class="col-10">
            
            
            
            
            <h4>User posts</h4>




        </div>
    </div>
</div>

