/* Color Theme Swatches in Hex 
{ color: #DDDCC5; }
{ color: #958976; }
{ color: #611427; }
{ color: #1D2326; }
{ color: #6A6A61; } */

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #1D2326;
    line-height: 1.6;
    background-color: #DDDCC5;
    min-width: 800px;
  }

/*Nav Bar*/

.nav > li > a {
  color: #1D2326;
  font-size: 12px;
}

.nav > li > a:hover { 
  background-color: #958976 !important;  
  color: #DDDCC5; 
}

/* Landing Page */

#showcase {
 
  background-image:url('/img/landing.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 0 20;
  color: #611427;
}   

#showcase h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px;
}

#showcase h2 {
  color: #fff;
  font-size: 40px;
}

#showcase label {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left; 
    color: #fff;
}

#showcase input {
  display: inline-block;
  float: left;
}

#loginButton {
  margin-top: 10px;
}

#invText {
  color: #fff;
  font-weight: bold;
}

#border {
  background-color: #000;
  text-align: center;
  padding: 20px 20px;
}

#header {
    border: solid black 1px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

#box {
  padding-bottom: 20px;
  border: solid black 1px;
  height: 100hv;
  overflow: scroll;
}

#boxnav {
  padding-bottom: 20px;
  border: solid black 1px;
  height: 100hv;
}

#box h2 {
  padding-top: 20px;
}
#chatbox {
 
  height: 600px;
 
}

/* Chatroom */

#date {
  font-size: 10px;
}


/* Current User Page */

#cubox {
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
  color: black;
  border: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 5px 10px;
  font-size: 20px;
}

#cubox p {
  line-height: 0.8;
}

#userBox {
  margin: 20px;
  height: 600px;
  
}

#userbox input {
  padding: 10px;
}

#delUser, #disUser {
  margin: 10px;
}

/*Chat Page*/

#cbox {
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
  color: black;
  border: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 5px 10px;
}

#cbox p {
  line-height: 0.8;
}

#message {
  width: 100%;
}

/*User Posts Page*/

#ubox {
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
  color: black;
  border: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 5px 10px;
}

#ubox p {
  line-height: 0.8;
}

/* Register User Page */

#box label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  text-align: left; 
}

#box input {
display: inline-block;
float: left;
}

/*Settings Page*/

#setClrBtn, #direction {
  margin: 10px;
}

#invText {
  text-align: center;
}

.alert {
  display: none;
}
