body {
    background-color: lightblue;
    height: 100%;
    
  }
#header {
    border: solid black 1px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}
  #box {
    border: solid black 1px;
    height: 800px;
}
#chatbox {
  margin: 20px;
  height: 600px;
  border: solid black 1px;
}